.title{
    border-radius: 7px lightgray;
    border:double 5px lightgray;
    text-align: center;
    background-image : url(niji\ icon2.png  );
}
.animation1:hover{
    text-align: center;
    font-size: 2em;
    transition: 1s;
    color: gray;
}
.keikoku{cursor: pointer;}